
@media screen and (max-width: 900px) {

    /*Header Style Recursive*/
    .logo {
        height: 15vw;
        width: 15vw;
        padding-top: 2vw;
        padding-left: 6vw;
    }

    nav {
        grid-column: 3/6;
        grid-row: 1/2;
     }

    nav a {
        display: block;
        padding: 3vw;
        font-size: 3vw;
        width: 15vw;
    }

    nav #aboutme{
        grid-column: 3/4;
    }

    nav #experience{
        grid-column: 4/5;
    }

    nav #contact{
        grid-column: 5/6;
    }

    /*Body Style Recursive*/

    h1 {
        font-size: 3vw;
    }
    
    h2 {
        font-size: 2.5vw;
    }
    
    h3, p {
        font-size: 2vw;
    }

    a:hover{
        font-weight: none;
        
    }

    #tittle {
        font-size: 3vw;
    }
    
    #tittle span{
        font-size: 2.5vw;
    }

    /*Footer Style Recursive*/
    footer {
        margin-top: 25px;
    }

    .sociallogo {
        height: 4vw;
        width: 4vw;
    }

    /*Index*/
    .cont1 {
        padding-top: 2vw;
    }

    #p1 {
        padding-top: 15vw;
        font-size: 3.5vw;
    }
    #p2{
        font-size: 10vw;
    }
    #p3{
        font-size: 5vw;
        text-align: left;
    }
    #p4 {
        font-size: 3vw;
    }

    /*About me*/

    #P1-paragraph {
        grid-column: 2/4;
        grid-row: 2/4;
        font-size: 2vw;
        width: 60vw;
    }
    #profile-picture {
        grid-column: 2/4;
        grid-row: 4/5;
        padding-left: 13vw;
    }
    .profile{
        height: 35vw;
        width: 35vw;
    }

    /*Experience*/
    .exp {
        width: 100%;
        text-align: center;
    }

    .exp h3,h4{
        font-size: 3.5vw;
    }

    .exp h2{
        font-size: 2.1vw;
    }

    .exp p{
        text-align: justify;
    }

    #T1 {
        grid-column: 2/4;
        grid-row: 3/4;
    }
    
    #img-t1 {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    
    #T0 { 
        grid-column: 2/4;
        grid-row: 4/5;
        text-align: center;
    }
    
    #T2 {
        grid-column: 2/4;
        grid-row: 6/7;
    }
    
    #img-t2 {
        grid-column: 2/4;
        grid-row: 5/6;
    }
    
    #T3{
        grid-column: 2/4;
        grid-row: 8/9
    }
    #img-t3 {
        grid-column: 2/4;
        grid-row: 7/8;
    }
    
    #T4{
        grid-column: 2/4;
        grid-row: 10/11;
        height: 23vw;
    }
    #img-t4 {
        grid-column: 2/4;
        grid-row: 9/10;
    }
    
    #T5{
        grid-column: 2/4;
        grid-row: 12/13;
        height: 23vw;
    }
    #img-t5 {
        grid-column: 2/4;
        grid-row: 11/12;
    }
    #T6 {
        grid-column: 2/4;
        grid-row: 14/15;
    }
    #img-t6 {
        grid-column: 2/4;
        grid-row: 13/14;
    }
    
    #T7 {
        grid-column: 2/4;
        grid-row: 16/17;
    }
    #img-t7 {
        grid-column: 2/4;
        grid-row: 15/16;
    }
    
    #T8 {
        grid-column: 2/4;
        grid-row: 19/20;
    }
    
    #img-t8 {
        grid-column: 2/4;
        grid-row: 18/19;
    }
    
    #T9 {
        grid-column: 2/4;
        grid-row: 21/22;
    }
    
    #img-t9 {
        grid-column: 2/4;
        grid-row: 20/21;
    }

    .companyLogo{
        align-self: center;
        height: 15vw;
        width: 35vw;
        margin-left: 13vw;
    }

    /*Contact*/
    #content4 h2 {
        font-size: 9vw;
    }

    #content4 p{
        font-size: 3.5vw;
        margin-top: 2vw;
    }

    #content4 a{
        margin-left: 14.5vw;
        margin-top: 8vw;
    }

    .join{
        height: 10vw;
        width: 30vw;
        font-size: 5vw;
        text-align: center;
        padding-top: 3vw;
    }

}
      